:root {
    --orange: rgba(231, 130, 62, 1); /* Define a variable named --orange with the RGBA value */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
}

h1 {
    color: var(--orange); /* Use the variable --orange as the text color for h1 elements */
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
}

h3 {
    color: rgba(231, 130, 62, 1);
    text-decoration: underline;
}

header {
    background-color: #111;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #555;
}

.project {
    margin-bottom: 20px;
    border: 1px solid #555;
    padding: 10px;
}

.project h3 {
    color: var(--orange);
    margin-bottom: 10px;
}

.project p {
    color: #ccc;
}
